* {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}


#root {
  margin: 0 auto;
  max-width: 960px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flexItem {
  flex-basis: 45%;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 10px;
  align-self: center;
 
}

.logoBlock {
    width: 100%;
    background-color: black;
    display: block;
    color: white;
    padding: 15px;
}

.searchBlock {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
}

.p.overview  {
  font-size: 0.9em;
  overflow: hidden;
}


@media screen and (max-width: 768px) {

  .flexItem {
    flex-basis: 100%;
  }
 
}


